.box1 {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #34a853;
  z-index: 1;
}
.box2 {
  display: inline-block;
  position: absolute;
  width: 150px;
  left: 75px;
  top: 75px;
  height: 150px;
  background-color: #d62d20;
  z-index: 2;
}
.box3 {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #ffa700;
  z-index: 3;

  position: absolute;
  left: 150px;
  top: 150px;
}
.box4 {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #0057e7;
  z-index: 4;

  position: absolute;
  left: 225px;
  top: 225px;
}

/* .wrapper {
  position: relative;
  border: 1px solid blue;
  background-color: burlywood;
}

.dashed-box {
  position: relative;
  z-index: ;
  border: dashed;
  height: 8em;
  margin-bottom: 1em;
  margin-top: 2em;
}
.gold-box {
  position: absolute;
  z-index: 3; /* put .gold-box above .green-box and .dashed-box */
/* background: gold;
  width: 80%;
  left: 60px;
  top: 3em;
}
.green-box {
  position: absolute;
  z-index: 2; /* put .green-box above .dashed-box */
/* background: lightgreen;
  width: 20%;
  left: 65%;
  top: -25px;
  height: 7em;
  opacity: 0.9;
} */
